.jumbotron{min-height:100%;background-color:transparent;}
.jumbotron .container{position:relative;padding-top:10%;text-align:center;}
.jumbotron h1{color:#ffffff;font-size:5em;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:bold;}
.jumbotron p{margin-top:2%;color:#ffffff;font-size:1.8em;font-weight:bold;}
.jumbotron .logos{margin-top:3%;display:block;}
.jumbotron .logos a{color:#ffffff;font-size:3em;margin-right:5%;}
.jumbotron i:hover{color:#5a5aad;}
.about{min-height:100%;background-color:transparent;}
.about .container{position:relative;padding-top:5%;width:80%;padding-bottom:5%;}
.about h1{padding-bottom:5%;text-align:center;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:bold;font-size:3em;color:#ffffff;}
.about p{color:#ffffff;font-size:1.5em;font-weight:bold;}
.about .btn-default{margin-top:5%;color:#ffffff;background-color:transparent;font-size:1em;font-weight:bold;}
.about .btn-default:hover{background-color:#5a5aad;}
.contact{min-height:100%;background-color:transparent;}
.contact .container{position:relative;padding-top:5%;}
.contact h1{color:#ffffff;text-align:center;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:bold;font-size:3em;padding-bottom:5%;}
.contact p{color:#ffffff;font-size:1.2em;}
.contact .form-inline .form-group input{width:160%;margin-bottom:5%;background-color:rgba(34,34,34,0.5);color:white;font-weight:bold;line-height:2em;}
.contact .form-inline .form-group textarea{width:122%;margin-bottom:5%;background-color:rgba(34,34,34,0.5);color:white;font-weight:bold;}
.contact .btn-default{color:#ffffff;background-color:rgba(34,34,34,0.5);font-weight:bold;}
.contact .btn-default:hover{background-color:#128F76;}
.contact .btn-default i{color:#ffffff;font-size:1em;padding-right:5%;font-weight:normal;}
.form-control::-webkit-input-placeholder{color:white;font-size:1.2em;}
.form-control:-moz-placeholder{color:white;font-size:1.2em;}
.form-control::-moz-placeholder{color:white;font-size:1.2em;}
.form-control:-ms-input-placeholder{color:white;font-size:1.2em;}
.footer{text-align:center;color:#ffffff;margin-top:5%;}
