.jumbotron {
	min-height: 100%;
	background-color: transparent;
}

.jumbotron .container {
	position: relative;
	padding-top: 30%;
	text-align: center;
}

.jumbotron h1 {
	color: #ffffff;
	font-size: 2.5em;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

.jumbotron p {
	margin-top: 5%;
	color: #ffffff;
	font-size: 1.5em;
	font-weight: bold;
}

.jumbotron .logos {
	margin-top: 5%;
	display: block;
}

.jumbotron .logos a {
	color: #ffffff;
	font-size: 2.2em;
	margin: 5%;
}

.jumbotron .logos i {
	color: #ffffff;
}


.portfolio {
	min-height: 100%;
	background-color: transparent;
}

.portfolio .container {
	position: relative;
	padding-top: 5%;
	width: 90%;
	padding-bottom: 5%;
}

.portfolio h1 {
	color: #ffffff;
	text-align: center;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 3em;
    padding-bottom: 5%;
}

.portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

.portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

.portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

.portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

.portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
.portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

.portfolio * {
    z-index: 2;
}


.about {
	min-height: 100%;
	background-color: transparent;
}

.about .container {
	position: relative;
	padding-top: 5%;
	width: 80%;
	padding-bottom: 5%;
}

.about h1 {
	padding-bottom: 5%;
	text-align: center;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 3em;
	color: #ffffff;
}

.about p {
	color: #ffffff;
	font-size: 1.5em;
}

.about .btn-default {
	margin-top: 10%;
	color: #ffffff;
	background-color: transparent;
	font-size: 1.2em;
}


.contact {
	min-height: 100%;
	background-color: transparent;
}

.contact .container {
	position: relative;
	padding-top: 5%;
}

.contact h1 {
	color: #ffffff;
	text-align: center;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 3em;
    padding-bottom: 5%;
}

.contact p {
	color: #ffffff;
	font-size: 1.2em;
}

.contact .form-inline {
	margin: 0 auto;
	width:90%
}

.contact .form-inline .form-group input {
    margin-bottom: 5%;
    background-color: transparent;
    color: white;
    line-height: 2em;
}

.contact .form-inline .form-group textarea {
    margin-bottom: 5%;
    background-color: transparent;
    color: white;
}

.contact .btn-default {
	color: #ffffff;
	background-color: transparent;
	font-weight: bold;
}
.contact .btn-default:hover {
	background-color: #128F76;
}

.contact .btn-default i {
	font-size: 1.2em;
	padding-right: 5%;
	font-weight: normal;
}


.form-control::-webkit-input-placeholder { color: white; font-size: 1.2em; }
.form-control:-moz-placeholder { color: white; font-size: 1.2em; }
.form-control::-moz-placeholder { color: white; font-size: 1.2em; }
.form-control:-ms-input-placeholder { color: white; font-size: 1.2em; }


.portfolio-modal .modal-content {
	padding: 100px 0;
	min-height: 100%;
	border: 0;
	border-radius: 0;
	text-align: center;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.portfolio-modal .modal-content h2 {
	margin: 0;
	font-size: 3em;
}

.portfolio-modal .modal-content img {
	margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
	margin: 30px 0;
}

.portfolio-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	cursor: pointer;
}

.portfolio-modal .close-modal:hover {
	opacity: .3;
}

.portfolio-modal .close-modal .lr {
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	background-color: #2c3e50;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
	z-index: 1052;
	width: 1px;
	height: 75px;
	background-color: #2c3e50;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
	display: none;
	opacity: 0;
}

.portfolio-modal .modal-body {
	font-size: 1.3em;
	/*text-align: left;*/
}

.portfolio-modal .fa-times {
	color: #222222;
}