.jumbotron{min-height:100%;background-color:transparent;}
.jumbotron .container{position:relative;padding-top:30%;text-align:center;}
.jumbotron h1{color:#ffffff;font-size:2.5em;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:bold;}
.jumbotron p{margin-top:5%;color:#ffffff;font-size:1.5em;font-weight:bold;}
.jumbotron .logos{margin-top:5%;display:block;}
.jumbotron .logos a{color:#ffffff;font-size:2.2em;margin:5%;}
.jumbotron .logos i{color:#ffffff;}
.about{min-height:100%;background-color:transparent;}
.about .container{position:relative;padding-top:5%;width:80%;padding-bottom:5%;}
.about h1{padding-bottom:5%;text-align:center;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:bold;font-size:3em;color:#ffffff;}
.about p{color:#ffffff;font-size:1.5em;}
.about .btn-default{margin-top:10%;color:#ffffff;background-color:transparent;font-size:1.2em;}
.contact{min-height:100%;background-color:transparent;}
.contact .container{position:relative;padding-top:5%;}
.contact h1{color:#ffffff;text-align:center;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:bold;font-size:3em;padding-bottom:5%;}
.contact p{color:#ffffff;font-size:1.2em;}
.contact .form-inline{margin:0 auto;width:90%}
.contact .form-inline .form-group input{margin-bottom:5%;background-color:transparent;color:white;line-height:2em;}
.contact .form-inline .form-group textarea{margin-bottom:5%;background-color:transparent;color:white;}
.contact .btn-default{color:#ffffff;background-color:transparent;font-weight:bold;}
.contact .btn-default:hover{background-color:#128F76;}
.contact .btn-default i{font-size:1.2em;padding-right:5%;font-weight:normal;}
.form-control::-webkit-input-placeholder{color:white;font-size:1.2em;}
.form-control:-moz-placeholder{color:white;font-size:1.2em;}
.form-control::-moz-placeholder{color:white;font-size:1.2em;}
.form-control:-ms-input-placeholder{color:white;font-size:1.2em;}
.footer{text-align:center;color:#ffffff;margin-top:12%;}